<ion-header>
  <ion-toolbar>
    <ion-title color="primary">
      Topic Worx
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card align="center">
    <canvas id="lineChart" width="400" height="400"></canvas>
    <p style="color: #4c8fa3;">Line Chart: Shows the trend of total confirmed cases and active cases over time.</p>
  </ion-card>

  <ion-card align="center">
    <canvas id="barChart" width="400" height="400"></canvas>
    <p style="color: #4c8fa3;">Bar Chart: Visualizes the daily confirmed cases and daily
      deaths.
    </p>
  </ion-card>

  <ion-card align="center">
    <canvas id="pieChart" width="400" height="400"></canvas>
    <p style="color: #4c8fa3;">Pie Chart: Provides a proportional view of total confirmed cases, total deaths, total
      recovered, and active cases.</p>
  </ion-card>

  <ion-card align="center">
    <canvas id="doughnutChart" width="400" height="400"></canvas>
    <p style="color: #4c8fa3;">Doughnut Chart: Similar to the pie chart, but with a hole in the center for a different
      visual effect.</p>
  </ion-card>

  <ion-card align="center">
    <canvas id="radarChart" width="400" height="400"></canvas>
    <p style="color: #4c8fa3;">Radar Chart: Compares the different metrics (total confirmed cases, total deaths, total
      recovered, active cases) to each other.</p>
  </ion-card>

  <ion-card align="center">
    <canvas id="polarAreaChart" width="400" height="400"></canvas>
    <p style="color: #4c8fa3;">Polar Area Chart: Displays the magnitude of each metric relative to others, similar to a
      pie chart but in a circular manner.</p>
  </ion-card>

</ion-content>